<nav class="navbar navbar-inverse bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white" href="{% url 'newsToday' %}">The Moringa Tribune</a>
      <a href="#" class="text-warning text-decoration-none active">Home</a>
    </div>
    <div class="col-sm-4 col-md-4 navbar-right">
      <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Article" name="article">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>    
